@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background: url(first_bg.jpg);
    background-size: cover;
    color: #373741;
    line-height: 20px;
}
.container {
    width: 1000px;
    min-height: 1000px;
    margin: 0 auto;
    background: #fff;
}
.content {
    padding: 30px 130px;
}
h1 {
    font-size: 32px;
    padding-top: 20px;
    font-style: bold;
}
h2 {
    padding-top: 10px;
}
table, caption, th, tr, td {
    border: 1px solid;
    border-color: black;
    text-align: center;
}
figcaption {
    font-style: italic;
    margin-top: -15px;
}
figure {
    float: right;
    padding: 0 7px;
    margin: 10px 0 5px 5px;
}
a {
    color: #373741;
    text-decoration: none;
    transition: background 0.3s ease;
}
a:hover{
    background: #d4cfc9 ;
    border-radius: 15px;
}    