@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
  font-family: 'Roboto', sans-serif; /*Устанавливает семейство шрифта*/
}
/*Тело сайта*/
.container {
  width: 100%;
  min-height: 500px;
  margin: 0 auto;
  border: 5px;
  border-color: aqua;
}
.header {
  display: flex;
  height: 85px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: #007765;
  border: 5px;
  border-color: rgb(43, 121, 66);
}
.logo {
  display: flex;
  position: relative;
  width: 31%;
  justify-content: right;
  align-items: center;
}
.nav {
  display: flex;
  position: relative;
  width: 69%;
  justify-content: center;
  align-items: center;
}
.nav ul {
  display: flex;
  position: relative;
  list-style: none;
}
.nav li a {
  display: flex;
  padding: 0 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  border-right: 1px solid  #fff;
  transition: background 0.3s ease;
}
.nav li a:hover {
  background: rgba(99, 99, 99, 0.5)
}
.first {
  display: flex;
  position: relative;
  width: 100%;
  height: 400px;
  color: #fff;
  font-size: 72px;
  background: url(images/image.png) center center / cover;
  justify-content: center;
  align-items: center;
}
.second,  .fifth {
  width: 100%;
  background-color: #EEEEEE;
  padding-top: 55px;
  padding-bottom: 95px;
}
.content_1, .content_3, .content_4 {
  width: 60%;
  margin: 0 auto;
}
.second h1, .fourth h1, .fifth h1 {
  color: #007765;
  font-size: 64px;
  text-align: center;
  padding-bottom: 5px;
}
.content_1 p, .content_3 p {
  display: flex;
  position: relative;
  padding-top: 35px;
  font-size: 32px;
  line-height: 37px;
}
.third {
  display: flex;
  position: relative;
  width: 100%;
  color: #fff;
  font-size: 48px;
  font-style: italic;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 95px;
  background: url(images/image_1.png) center center / cover;
}
.content_2 {
  width: 45%;
  margin: 0 auto;
}
.third p {
  text-align: center;
}
.fourth {
  width: 100%;
  background-color: #fff;
  padding-top: 55px;
  padding-bottom: 95px;
}
.fourth img {
  float: left;
  margin-right: 50px;
  margin-top: 40px;
}
.fifth figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 50px;
}

.image {
  text-align: center; 
  display: flex; 
  flex-flow: column wrap;
  align-items: center; 
  padding-bottom: 55px;
}
.name {
  font-weight: 700; 
  font-size: 24px; 
  line-height: 30px; 
  color: #007765; 
}
.fifth p {
  font-style: italic;
}
.footer {
  display: flex;
  position: relative;
  width: 100%;
  color: #fff;
  font-size: 18px;
  align-items: center;
  text-align: center;
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #333333;
}
.content_5 {
  width: 30%;
  margin: 0 auto;
}